@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    @apply bg-zinc-950 text-zinc-100
}

* {
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
  }
  
  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 10px;
  }
  
  
  
  *::-webkit-scrollbar-thumb {
    background-color: #151515;
    border-radius: 14px;
    border: 3px solid var(--primary);
  }
